# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
.venv/
backend/.venv/
.env/
.env.local
.env.dev
.env.prod
*.env

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.iml

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Databases (local)
# =========================
*.sqlite3
*.db

# =========================
# Zip
# =========================

*.zip 
*.tar.gz
*.egg
*.whl
dist/
build/
eggs/
parts/
develop-eggs/
.installed.cfg
lib/
lib64/
__pycache__/

# Node
node_modules/
frontend/node_modules/
frontend/dist/
