version: "3.9"

services:
  backend:
    build: ./backend
    container_name: huellero-backend
    env_file:
      - .env
    network_mode: host
    restart: unless-stopped


  frontend:
    build: ./frontend
    container_name: huellero-frontend
    env_file:
      - .env
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: unless-stopped
